NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_REOWN_PROJECT_ID=
NEXT_PUBLIC_ETHEREUM_RPC_URL=
NEXT_PUBLIC_BASE_RPC_URL=
NEXT_PUBLIC_CELO_RPC_URL=
NEXT_PUBLIC_ETHEREUM_INTAKE_CONTRACT=
NEXT_PUBLIC_BASE_INTAKE_CONTRACT=
NEXT_PUBLIC_CELO_INTAKE_CONTRACT=
NEXT_PUBLIC_ETHEREUM_TREASURY_ADDRESS=
NEXT_PUBLIC_BASE_TREASURY_ADDRESS=
NEXT_PUBLIC_CELO_TREASURY_ADDRESS=
