NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
FUNDLOOP_DEPLOYMENT_ENV=local
FUNDLOOP_PAYMENTS_CRON_SECRET=
FUNDLOOP_INTERNAL_ADMIN_EMAILS=
FUNDLOOP_ZKAS_SUPERADMIN_EMAILS=
NEXT_PUBLIC_REOWN_PROJECT_ID=
NEXT_PUBLIC_ETHEREUM_RPC_URL=
NEXT_PUBLIC_BASE_RPC_URL=
NEXT_PUBLIC_CELO_RPC_URL=
